<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아코디언 예제</title>
    <link rel="stylesheet" href="../../static/css/accordionTest.css">
</head>

<body>


    <button class="accordion">메뉴 1</button>
    <div class="panel">
        <p>내용 1</p>
        <p>내용 2</p>
        <p>내용 3</p>
        <p>내용 4</p>
        <p>내용 5</p>
        <p>내용 6</p>
        <p>내용 7</p>
        <p>내용 8</p>
    </div>

    <button class="accordion">메뉴 2</button>
    <div class="panel">
        <p>내용 2</p>
    </div>

    <button class="accordion">메뉴 3</button>
    <div class="panel">
        <p>내용 3</p>
    </div>

    <script src="../../static/js/accordion.js"></script>
</body>

</html>