<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/nav.css" />
    <link rel="stylesheet" href="../../static/css/library.css" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <img
          src="../../static/img/국영문시그니쳐.png"
          alt="logo"
          class="logo"
          onclick="location.href='../new-main-demo.html'"
        />
        <ul>
          <li>
            <button onclick="location.href='../new-main-demo.html'">
              <i class="bi bi-house"></i>HOME
            </button>
          </li>
          <li>
            <button onclick="location.href='#'">
              <i class="bi bi-folder"></i>자료실
            </button>
          </li>
          <li>
            <button onclick="location.href='#'">
              <i class="bi bi-people"></i>커뮤니티
            </button>
          </li>
          <li>
            <button onclick="location.href='#'">
              <i class="bi bi-chat"></i>메시지
            </button>
          </li>
          <li>
            <button onclick="location.href='#'">
              <i class="bi bi-pc-display-horizontal"></i>한성 MOOC
            </button>
          </li>
          <li>
            <button onclick="location.href='#'">
              <i class="bi bi-gear"></i>setting
            </button>
          </li>
        </ul>
      </div>

      <div class="section">
        <h2>자료실</h2>
        <label for="classes">과목명</label>
        <select name="classroom" id="classes">
          <option value="1">과목을 선택해 주세요</option>
          <option value="2">과목 1</option>
          <option value="3">과목 2</option>
          <option value="4">과목 3</option>
          <option value="5">과목 4</option>
        </select>
      </div>
    </div>
  </body>
</html>
