<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Progress Bars</title>
    <link rel="stylesheet" href="../../static/css/progressbarTest.css" />
</head>

<body>
    <h1>CSS Progress Bars</h1>
    <div class="bar-holder">
        <div class="bar-1">20%</div>
    </div>
    <div class="bar-holder">
        <div class="bar-2">40%</div>
    </div>
    <div class="bar-holder">
        <div class="bar-3">60%</div>
    </div>
    <div class="bar-holder">
        <div class="bar-4">80%</div>
    </div>
    <div class="bar-holder">
        <div class="bar-5">100%</div>
    </div>
</body>

</html>