<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/new-course-page.css">

</head>

<body>
    <div class="container">
        <div class="nav">
            <img src="../static/img/국영문시그니쳐.png" alt="logo" class="logo" />
            <ul>
                <li>
                    <button onclick="location.href='#'">
                        <i class="bi bi-house"></i>HOME
                    </button>
                </li>
                <li>
                    <button onclick="location.href='#'">
                        <i class="bi bi-folder"></i>자료실
                    </button>
                </li>
                <li>
                    <button onclick="location.href='#'">
                        <i class="bi bi-people"></i>커뮤니티
                    </button>
                </li>
                <li>
                    <button onclick="location.href='#'">
                        <i class="bi bi-chat"></i>메시지
                    </button>
                </li>
                <li>
                    <button onclick="location.href='#'">
                        <i class="bi bi-pc-display-horizontal"></i>한성 MOOC
                    </button>
                </li>
                <li>
                    <button onclick="location.href='#'">
                        <i class="bi bi-gear"></i>setting
                    </button>
                </li>
            </ul>
        </div>
        <div class="classroom">
            <h3>강의명 (ex.설계패턴)</h3>
            <div class="area">
                <div class="accordion">
                    <div class="accordion_item">
                        <button>
                            첫번째 아코디언
                        </button>
                        <div class="accordion_content">
                            <ul>
                                <li>리스트 아이템1</li>
                                <li>리스트 아이템2</li>
                                <li>리스트 아이템3</li>
                                <li>리스트 아이템4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion_item">
                        <button>
                            두번째 아코디언
                        </button>
                        <div class="accordion_content">
                            <ul>
                                <li>리스트 아이템1</li>
                                <li>리스트 아이템2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion_item">
                        <button>
                            세번째 아코디언
                        </button>
                        <div class="accordion_content">
                            <ul>
                                <li>리스트 아이템1</li>
                                <li>리스트 아이템2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion_item">
                        <button>
                            네번째 아코디언
                        </button>
                        <div class="accordion_content">
                            <ul>
                                <li>리스트 아이템1</li>
                                <li>리스트 아이템2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion_item">
                        <button>
                            다섯번째 아코디언
                        </button>
                        <div class="accordion_content">
                            <ul>
                                <li>리스트 아이템1</li>
                                <li>리스트 아이템2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-bar">
            <div class="info-bar-top">
                <h3>학생 정보</h3>
                <button><i class="bi bi-pen"></i></button>
            </div>
            <div class="userInfo">
                <img src="../static/img/sangsangbugi.png" alt="profile" class="profile" />
                <h4 class="userName">상상부기</h4>
                <h5 class="track">모바일소프트웨어트랙</h5>
            </div>

            <div id="calendar"></div>

            <div class="homework">
                <h3>과제</h3>
                <div class="homework-content">
                    <div class="isSummit">
                        <i class="bi bi-check-lg invisible"></i>
                        <i class="bi bi-x-circle"></i>
                    </div>
                    <div class="homework-info">
                        <div class="homework-class">과목명</div>
                        <div class="homework-title">과제1</div>
                        <div class="duration">00일 00시 00분 00초 남음..</div>
                    </div>
                    <div class="homework-icon"><i class="bi bi-chevron-right"></i></div>
                </div>
                <div class="homework-content">
                    <div class="isSummit">
                        <i class="bi bi-check-lg invisible"></i>
                        <i class="bi bi-x-circle"></i>
                    </div>
                    <div class="homework-info">
                        <div class="homework-class">과목명</div>
                        <div class="homework-title">과제2</div>
                        <div class="duration">00일 00시 00분 00초 남음..</div>
                    </div>
                    <div class="homework-icon"><i class="bi bi-chevron-right"></i></div>
                </div>
                <div class="homework-content">
                    <div class="isSummit">
                        <i class="bi bi-check-lg invisible"></i>
                        <i class="bi bi-x-circle"></i>
                    </div>
                    <div class="homework-info">
                        <div class="homework-class">과목명</div>
                        <div class="homework-title">과제3</div>
                        <div class="duration">00일 00시 00분 00초 남음..</div>
                    </div>
                    <div class="homework-icon"><i class="bi bi-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/accordion.js"></script>
    <script src="../static/js/calendar.js"></script>
</body>

</html>