<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" th:fragment="header" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
    <style>
      #page-header .navbar{
        background-color: var(--maincolor);
      }

      #page-header .navbar .container-fluid .navbar-brand {
        width: 190px;
        background-color: var(--maincolor);
      }

      #page-header .navbar .container-fluid .navbar-brand a.logo {
        background: url(/img/logo.png);
        width: 190px;
      }
    </style>
  </head>

  <body>
    <div id="page">
      <div id="page-header">
        <nav class="navbar">
          <div class="container-fluid">
            <div>
              <div class="navbar-brand">
                <a href="/" class="logo">
                  <span class="sr-only">CyberCampus</span>
                </a>
              </div>
            </div>
            <div class="usermenu">
              <ul class="nav nav-pills" role="tablist">
                <li class="user_department">이영재</li>
                <li class="user-info-menu">
                  <a class="user-info-popover"
                    ><img
                      src="/img/user.png"
                      alt="유저 사진"
                      class="userpicture"
                  /></a>
                </li>
                <li class="user-course">
                  <a class="user-courses-popover icon-a">
                    <div class="icon icon-my"></div>
                  </a>
                </li>
                <li class="user-notification">
                  <a class="icon-a user-noti-popover">
                    <div class="icon icon-noti"></div>
                  </a>
                </li>
                <li class="user-message">
                  <a class="icon-a user-message-popover">
                    <div class="icon icon-msg"></div>
                  </a>
                </li>
                <li class="user-product">
                  <a class="user-menu-product icon-a">
                    <div class="icon icon-menu"></div>
                  </a>
                </li>
                <li class="active user-login user-logout">
                  <a
                    href="/html/login"
                    class="btn btn-person"
                    >로그아웃</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div id="page-side"></div>
      <div id="page-main"></div>
      <div id="page-footer"></div>
    </div>
  </body>
</html>
